<h2>Film Ekle</h2>
<form id="movieInputForm">
    <input reqiured name="name" type="text" placeholder="Film Adı" />
    <input reqiured name="plot" type="text" placeholder="Film Konusu" />
    <input reqiured name="category" type="text" placeholder="Film Kategorisi" />
    <input reqiured name="rating" type="number" placeholder="Film Puanı x/10?" />
    <input reqiured name="image" type="text" placeholder="Film Görseli" />
    <button>Ekle</button>
</form>

<h2>Film Listesi</h2>
<table>
    <thead>
        <tr>
            <th>Görsel</th>
            <th>Ad</th>
            <th>Konu</th>
            <th>Kategori</th>
            <th>Puanlaması</th>
        </tr>
    </thead>
    <tbody id="movieList">

    </tbody>
</table>