html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #e1e1e1;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

#movieInputForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

    #movieInputForm input,
    #movieInputForm button {
        margin: 5px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
    }

        #movieInputForm input[type="number"] {
            -moz-appearance: textfield;
        }

            #movieInputForm input[type="number"]::-webkit-inner-spin-button,
            #movieInputForm input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

    #movieInputForm button {
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }

        #movieInputForm button:hover {
            background-color: #0056b3;
        }

    #movieInputForm .form-group {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

        #movieInputForm .form-group input {
            flex: 1;
            min-width: 200px;
        }
